@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  user-select: none;   /* отключает выделение */
  -webkit-user-select: none; /* для Safari */
  -ms-user-select: none;     /* для IE/Edge старых */
}