@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE Ð¸ Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  user-select: none;   
  -webkit-user-select: none;
  -ms-user-select: none;     
}

html, body, #root {
  height: 100%;
}