@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

header {
  padding-top: constant(safe-area-inset-top); /* старый iOS */
  padding-top: env(safe-area-inset-top);      /* новый iOS */
}

* {
  user-select: none;   
  -webkit-user-select: none;
  -ms-user-select: none;     
}

html, body, #root {
  height: 100%;
}